:root {
  /* Colors */
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-blue: hsl(212, 86%, 64%);
  --color-orange: hsl(34, 97%, 64%);
  /* Typography */
  --font-family-base: 'Poppins', sans-serif;
  --font-size-base: 1rem;
  --font-weight-extra-light: 200;
  --font-weight-base: 400;
  --font-weight-semi-bold: 600;
  --line-height-base: 1.4;
  /* Spacing */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  /* Border radius */
  --radius-base: 0.5rem;
  /* Miscellaneous */
  --shadow-base: 0 1em 2em -0.73em rgba(131, 166, 210, 0.5);
  --height-min: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-white);
  color: var(--color-grey-500);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9375rem;
  padding: 3.5rem 1.875rem 2.875rem 1.875rem;
}

.page-header {
  margin-inline: auto;
  max-width: 36em;
  text-align: center;
  line-height: 1.4;

  & .page-title {
    font-size: 1.6em;
  }

  & .page-description {
    margin-top: var(--spacing-200);
  }

  & span {
    font-weight: 200;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-400);
  margin-top: 3.75rem;
  margin-inline: auto;
}

.feature-card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: var(--color-white);
  border-radius: var(--radius-base);
  max-width: clamp(11rem, 100vw, 22rem);
  padding: var(--spacing-400);
  box-shadow: var(--shadow-base);
  font-weight: 200;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-min);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  & h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.35;
  }

  & p {
    margin-top: 0.375rem;
    font-size: 0.8125rem;
    line-height: 1.6;
    letter-spacing: 0.055rem;
  }

  & img {
    margin: var(--spacing-400) 0 var(--spacing-200) auto;
  }
}

.supervisor::before {
  background-color: var(--color-cyan);
}
.team-builder::before {
  background-color: var(--color-red);
}
.karma::before {
  background-color: var(--color-orange);
}
.calculator::before {
  background-color: var(--color-blue);
}

@media (min-width: 48rem) {
  body {
    padding: 5rem 3.375rem;
  }

  .page-header .page-title {
    font-size: 2.4em;
  }

  .features {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    margin-top: 4.625rem;
  }

  .supervisor {
    grid-column: 1 / span 2;
  }

  .team-builder {
    grid-column: 2 / span 2;
    order: -1;
  }

  .karma {
    grid-column: 3 / span 2;
  }

  .calculator {
    grid-column: 2 / span 2;
  }
}

@media (min-width: 90rem) {
  body {
    padding-top: 6.375rem;
    padding-bottom: 10.125rem;
  }

  .features {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .supervisor {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  .team-builder {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
    order: -1;
  }

  .karma {
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    order: 1;
  }

  .calculator {
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;
  }
}
