:root {
  /* primary */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  /* neutral */
  --color-gray-500: hsl(234, 12%, 34%);
  --color-gray-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-bg: hsl(0, 0%, 98%);
  /* typography */
  --font-family-base: 'Poppins', sans-serif;
  --font-weight-base: 400;
  --font-size-base: 16px;
  --line-height-base: 1.4;
}

html {
  box-sizing: border-box;
  background-color: var(--color-white-bg);
  color: var(--color-gray-500);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-size: 0.9375rem;
  padding: 3.5rem 1.875rem;
}

header {
  margin-inline: auto;
  max-width: 36em;
  text-align: center;
  line-height: 1.4;

  & h1 {
    font-size: 1.6em;
  }

  & p {
    margin-top: 1rem;
  }

  & span {
    font-weight: 200;
  }
}

main {
  display: grid;
  gap: 2rem;
  margin-top: 3.75rem;
  margin-inline: auto;
}

.feature-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  max-width: 21em;
  padding: 2rem;
  box-shadow: 0 1em 2em -0.73em rgba(131, 166, 210, 0.5);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  & h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
  }

  & p {
    margin-top: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1.6;
  }

  & img {
    margin-top: 2rem;
    margin-left: auto;
  }
}

.supervisor::before {
  background-color: var(--color-cyan);
}
.team-builder::before {
  background-color: var(--color-red);
}
.karma::before {
  background-color: var(--color-orange);
}
.calculator::before {
  background-color: var(--color-blue);
}

@media (min-width: 48rem) {
  body {
    padding: 5rem 3.375rem;
  }

  header h1 {
    font-size: 2.4em;
  }

  main {
    margin-top: 4.625rem;
  }
}
