:root {
  /* Colors */
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-bg: hsl(0, 0%, 98%);
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-blue: hsl(212, 86%, 64%);
  --color-orange: hsl(34, 97%, 64%);
  /* Typography */
  --font-family-base: 'Poppins', sans-serif;
  --font-size-base: 1rem;
  --font-weight-extra-light: 200;
  --font-weight-base: 400;
  --font-weight-semi-bold: 600;
  --line-height-base: 1.4;
  /* Spacing */
  --spacing-200: 1rem;
  --spacing-400: 2rem;
  --spacing-700: 3.5rem;
  --spacing-750: 3.75rem;
  --spacing-1000: 5rem;
  /* Border radius */
  --radius-base: 0.5rem;
  /* Miscellaneous */
  --shadow-base: 0 0.9375rem 1.875rem -0.6875rem rgba(131, 166, 210, 0.5);
  --height-min: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-white);
  color: var(--color-grey-500);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-750);
  margin: var(--spacing-700) var(--spacing-400) 2.875rem;
}

.page-header {
  max-width: 25rem;
  text-align: center;
}

.page-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-extra-light);
  letter-spacing: 0.015625rem;
}

.page-title strong {
  display: block;
  font-weight: var(--font-weight-semi-bold);
}

.page-description {
  margin-block-start: var(--spacing-200);
  font-size: 0.9375rem;
  letter-spacing: 0.00625rem;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-400);
}

.feature-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-bg);
  margin-inline: auto;
  border-radius: var(--radius-base);
  max-width: clamp(11rem, 100vw, 22rem);
  padding: var(--spacing-400);
  box-shadow: var(--shadow-base);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height-min);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
}

.card-title {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.35;
}

.card-description {
  margin-block-start: 0.375rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.005625rem;
  color: var(--color-grey-400);
}

.card-icon {
  margin: var(--spacing-400) 0 var(--spacing-200) auto;
}

.supervisor::before {
  background-color: var(--color-cyan);
}
.team-builder::before {
  background-color: var(--color-red);
}
.karma::before {
  background-color: var(--color-orange);
}
.calculator::before {
  background-color: var(--color-blue);
}

@media (min-width: 48rem) {
  body {
    gap: 4.625rem;
    margin: var(--spacing-1000) var(--spacing-700);
  }

  .page-header {
    max-width: 33.75rem;
  }

  .page-title {
    font-size: 2.25rem;
  }

  .features {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  }

  .supervisor {
    grid-column: 1 / span 2;
  }

  .team-builder {
    grid-column: 2 / span 2;
    order: -1;
  }

  .karma {
    grid-column: 3 / span 2;
  }

  .calculator {
    grid-column: 2 / span 2;
  }
}

@media (min-width: 90rem) {
  body {
    max-width: 70rem;
    margin: 6.375rem auto;
  }

  .features {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .supervisor {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
  }

  .team-builder {
    grid-row: 1 / span 2;
    grid-column: 1 / span 3;
    order: -1;
  }

  .karma {
    grid-row: 3 / span 2;
    grid-column: 1 / span 3;
    order: 1;
  }

  .calculator {
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;
  }
}
