:root {
  /* primary */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  /* neutral */
  --color-gray-500: hsl(234, 12%, 34%);
  --color-gray-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
  /* typography */
  --font-family-base: 'Poppins', sans-serif;
  --font-weight-base: 400;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}
